.Polisterol {
    background-image: url('../../img/mainPageImg.png');
    background-size: cover;
    font-size: 15px;
    width: 100%;    
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Polisterol__list {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
}

.Polisterol__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 40px;
    width: 30%;
    font-size: 14px;
    line-height: 21px;
}

.Polisterol__list-item-icon {
    margin-right: 15px;
    width: 20%;
    background-color: white;
}

.Polisterol__list-item-title {
    font-style: normal;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.Polisterol__body{
    padding-top: 100px;
    padding-left: 80px;
}

.Polisterol__body-text {
    margin-top: 50px;
    font-size: 80px;
    color: #15C6D2;
    font-weight: 900;
    margin-bottom: 30px;
}

.Polisterol__body-cost {
    margin-bottom: 55px;
    font-size: 36px;
    font-weight: 700;
    color: #333333;
    margin: 100px 0;
}

.Polisterol__cost-count {
    color: #15C6D2;
}

.Polisterol__body-modal {
    width: 14%;
    border-width: 3px;
    border: #15C6D2;
    border-style: solid;
    border-radius: 500px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.Polisterol__body-modal-text {
    color: rgba(21, 198, 210, 1);
    font-weight: 550;
    font-size: 24px;
}

.Polisterol__body-modal-text:hover {
    color: rgba(21, 198, 210, 0.5);
    cursor: pointer;
}

.Polisterol__bot-arrow  {
    width: 40px;
    height: 40px;
    opacity: 0.33;
    transform: rotate(-90deg);
    transition: 0.22;
    margin: 0 auto;
}

.Polisterol__bot-arrow:hover {
    opacity: 1;
    transition: 0.22;
}