.ModalSpecification {
    z-index: -1;
    display: none;
}

.ModalSpecification__body {
    display: none;
}

.ModalSpecification-active {
    z-index: 100;
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.ModalSpecification__body-active{
    padding: 30px;
    flex-direction: column;
    width: 1160px;
    height: 730px;
    background: #FFFFFF;
    border-radius: 20px;
    margin: auto;
    display: flex;
    font-size: 24px;
    line-height: 36px;
    color: #777777;
}